<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//myhabits.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuhao.springboot.middle.mapper.AnswerMapper">
    <insert id="insertAnswer" parameterType="wuhao.springboot.middle.entity.Answer">
        INSERT INTO answers (answer_content, question_id, user_id) VALUES (#{answerContent}, #{question.questionId}, #{user.userId});
    </insert>
    <select id="findByQuestionId" parameterType="Integer" resultType="wuhao.springboot.middle.entity.Answer">
        SELECT * FROM answers WHERE question_id = #{value};
    </select>
</mapper>

